.about-page {
  background: #fdf6f3;

  color: #241419;
}

.page-hero {
  padding: 180px 7vw 100px;

  background: #f3e1df;
}

.page-hero h1 {
  font-size: clamp(55px, 8vw, 120px);

  line-height: 0.88;

  font-weight: 400;

  letter-spacing: -0.05em;

  margin: 25px 0 0;
}

.page-hero h1 em {
  font-family: "Playfair Display", Georgia, serif;
}

/* INTRO */

.about-page-intro {
  display: grid;

  grid-template-columns: 1.3fr 1fr;

  gap: 8vw;
}

.large-copy h2 {
  font-size: clamp(42px, 5.5vw, 75px);

  font-weight: 400;

  line-height: 0.98;

  letter-spacing: -0.04em;

  margin: 25px 0;
}

.large-copy h2 em {
  font-family: "Playfair Display", Georgia, serif;
}

.about-page-intro > div:last-child {
  padding-top: 70px;
}

.about-page-intro p {
  color: #8a7377;

  line-height: 1.85;

  font-size: 18px;

  margin-bottom: 28px;
}

/* FEATURE */

.about-feature {
  display: grid;

  grid-template-columns: 1.2fr 1fr;

  gap: 8vw;

  align-items: center;

  background: #f3e1df;
}

.about-feature-image img {
  width: 100%;

  max-height: 720px;

  object-fit: cover;
}

.about-feature-copy h2 {
  font-family: "Playfair Display", Georgia, serif;

  font-weight: 400;

  font-size: clamp(34px, 4vw, 58px);

  line-height: 1.1;
}

.about-feature-copy h2 em {
  font-style: italic;
}

.about-feature-copy p {
  color: #8a7377;
  font-size: 20px;
  line-height: 1.8;
}

/* VALUES */

.values-grid {
  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 30px;
}

.values-grid article {
  border-top: 1px solid #24141926;

  padding-top: 20px;
}

.values-grid article span {
  color: hwb(350 45% 46%);

  font-size: 25px;
}

.values-grid h3 {
  font-family: "Playfair Display", Georgia, serif;

  font-size: 55px;

  font-weight: 400;

  margin: 45px 0 12px;
}

.values-grid p {
  color: #8a7377;

  font-size: 18px;

  line-height: 1.7;

  max-width: 300px;
}

@media (max-width: 900px) {
  .about-page-intro,
  .about-feature {
    grid-template-columns: 1fr;
  }

  .about-page-intro > div:last-child {
    padding-top: 0;
  }

  .values-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  .page-hero {
    padding: 145px 6vw 75px;
  }

  .page-hero h1 {
    font-size: 58px;
  }

  .about-feature {
    padding: 18vw 6vw;
  }
}